container_commands:
01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:container:python":
    DJANGO_SETTINGS_MODULE: settings.production
  "aws:elasticbeanstalk:container:python":
    WSGIPath: cashApi/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    /static/: "www/static/"
